<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Weather App</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/login" *ngIf="!authService.isLoggedIn()"
        >Login</a
      >
      <a
        class="nav-link"
        routerLink="/lista-cidades"
        *ngIf="authService.isLoggedIn()"
        >Cidades</a
      >
      <button
        class="btn btn-link nav-link"
        (click)="authService.logout()"
        *ngIf="authService.isLoggedIn()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
