<div class="container mt-5">
  <h2>Favorite Cities</h2>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Pesquisar Cidade"
      [(ngModel)]="buscaCidade"
    />
    <button class="btn btn-primary mt-2" (click)="searchWeather()">
      Search Weather
    </button>
  </div>
  <app-clima-card *ngIf="dadosClima" [clima]="dadosClima"></app-clima-card>
  <ul class="list-group mt-3">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let favorite of favorites"
    >
      {{ favorite.cityName }}
      <button
        class="btn btn-danger btn-sm"
        (click)="removeFavorite(favorite.cityName)"
      >
        Remover
      </button>
    </li>
  </ul>
  <button
    class="btn btn-success mt-3"
    (click)="addFavorite(buscaCidade)"
    *ngIf="searchCity"
  >
    Adicionar aos favoritos
  </button>
</div>
